<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>History</title>
  <link rel="stylesheet" href="hist.css" />

</head>

<script>
  function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');
  
    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
  </script>

<body>

    <nav>
    <ul>
    <li><a href = th:action="@{/mappage}">Home</a></li>
    <li><a class="active" href="history.html">History</a></li>
    <li><a href="https://code.ua.pt/projects/es-2020-2021-p32/wiki">About</a></li>
    </ul>
    </nav>
    <form class="example" action="action_page.php">
    <input type="text" id="myInput" onkeyup="myFunction()"  placeholder="Search Bus or Date" name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <table style="width:100%">
      <tr>
          <th>Bus ID</th>
          <th>Longitude</th>
          <th>Latitude</th>
          <th>Speed (Km/h)</th>
          <th>Time</th>	
      </tr>
      <tr th:each="bus : ${buslist}">
          <td class="align-middle" th:text="${bus.id}"></td>
          <td class="align-middle" th:text="${bus.lon}"></td>
          <td class="align-middle" th:text="${bus.lat}"></td>
          <td class="align-middle" th:text="${bus.speed}"></td>
          <td class="align-middle" th:text="${bus.ts}"></td>
      </tr>
  </table>

</body>
</html>
