<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Traffic Management</title>
  <link rel="stylesheet" href="css/map.css" />
  <style>
    #map{
      height:500px;
      width: 100%;
    }
  </style>

</head>
<body>
  <nav>
  <ul>
  <li><a class="active" href="mappage.html">Home</a></li>
  <li><a href="history.html">History</a></li>
  <li><a href="https://code.ua.pt/projects/es-2020-2021-p32/wiki">About</a></li>
  </ul>
  </nav>
<script>let markers2 = [];</script>
    <tr th:each="bus : ${buslist}">    
        <script>
            var idtemp = "[[${bus.id}]]";
            var lattemp = "[[${bus.lat}]]";
            var lontemp = "[[${bus.lon}]]";
            markers3 = [
                      {
                        coords:{lat:parseFloat(lattemp),lng:parseFloat(lontemp)},
                        content: "Bus id: " + idtemp
                          }];
            markers2 = markers2.concat(markers3);
        </script>
    </tr>


    


  <div id="map"></div>
  <script>
    function initMap(){
      // Map options
      var options = {
        zoom:12.5,
        center:{lat:41.15,lng:-8.61024}
      }

      // New map
      var map = new google.maps.Map(document.getElementById('map'), options);

      // Listen for click on map
      google.maps.event.addListener(map, 'click', function(event){
        // Add marker
        //addMarker({coords:event.latLng});
      });

      

      /*
      // Add marker
      var marker = new google.maps.Marker({
        position:{lat:42.4668,lng:-70.9495},
        map:map,
        icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
      });

      var infoWindow = new google.maps.InfoWindow({
        content:'<h1>Lynn MA</h1>'
      });

      marker.addListener('click', function(){
        infoWindow.open(map, marker);
      });
      */

      // Array of markers
      var markers = [
        //{
          //coords:{lat:41.14898,lng:-8.610583},
          //iconImage: 'bus_icon.png',
          //content:'<h1>Bus 1</h1>'
        //},
        //{
          //coords:{lat:41.182335,lng:-8.61952},
          //iconImage:'bus_icon.png',
          //iconImage: 'bus_icon.png',
          //content:'<h1>Bus 2</h1>'
        //},
        //{
          //coords:{lat:41.178787,lng:-8.564412},
          //iconImage: 'bus_icon.png',
          //content:'<h1>Bus 3</h1>'
        //},
        {
          coords:{lat:41.1532894,lng:-8.61230167},
          //iconImage: 'bus_icon.png',
          content:'<h1>Bus 2</h1>'
        },
        {
          coords:{lat:41.151894,lng:-8.610167},
          //iconImage: 'bus_icon.png',
          content:'<h1>Bus 3</h1>'
        }

      ];

      console.log(markers);

      // Loop through markers
      for(var i = 0;i < markers2.length;i++){
        // Add marker
        addMarker(markers2[i]);
        console.log("aqui");
      }

      // Add Marker Function
      function addMarker(props){
        var marker = new google.maps.Marker({
          position:props.coords,
          map:map,
          //icon:props.iconImage
        });

        // Check for customicon
        if(props.iconImage){
          // Set icon image
          marker.setIcon(props.iconImage);
        }

        // Check content
        if(props.content){
          var infoWindow = new google.maps.InfoWindow({
            content:props.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwPICP5cME4tR-1D135ebyNfJotd92dcc&callback=initMap">
    </script>
</body>
</html>
